<h1>Salas de aulas</h1>

<%= link_to "Fazer associação", new_classroom_path %>

<% @classrooms.each do |classroom| %>
	<p>
		<%= @students.find_by_id(classroom.student_id).name %> estuda
		<%= @courses.find_by_id(classroom.course_id).name %>
	</p>

<% end %>