<h1>Cadastrar estudante</h1>

<%= simple_form_for @new_student do |new_student| %>
	<%= new_student.input :name, placeholder: "Nome", label: false %><br>
	<%= new_student.input :register_number, placeholder: "Número de Ristro", label: false ,hint: 'Apenas números' %>
	<br>
	<%= new_student.submit "Cadastrar estudante", class: "btn btn-green" %>
<% end %>