<div class="container">
	<ul>
		<li class="attr-list"><h1><%= @student.name %></h1></li>
	
		<li><p class="rn"><b>Número de registro:</b> <%= @student.register_number %></p></li>
	</ul>
</div>

<%= link_to "Deletar", student_path(@student.id), method: :delete, class: "btn btn-red" %>
