<h1><%= @student.name %></h1>
<p><%= @student.register_number %></p>

<%= link_to "Deletar", student_path(@student.id), method: :delete %>

<p><b>Cursando: </b></p>

<p>FAZER LOOP COM AS FACULDADES ASSOCIADAS</p>
