<h1>Adicionar Curso</h1>

<%= simple_form_for @new_course do |new_course| %>
	<%= new_course.input :name, placeholder: "Nome", label: false %>
	<%= new_course.input :description, placeholder: "Descrição", label: false %>
	<br>
	<%= new_course.submit "Cadastrar curso", class: "btn btn-green" %>

<% end %>